/* CSS Styles */

@import url('https://fonts.googleapis.com/css?family=Merriweather');


.content-wrapper { min-height:750px; overflow: auto; }

.modal.modal-wide .modal-dialog {
  width: 95%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

#burgerbox {
	
}


.categorylist {
	background-color: #efefef;
	
}

#yummi_burger { min-height: 100px;  }


.ingredient_box { position:relative; height: 70px; top:30px;  }


.bun-header { position:absolute; z-index: 100;  }

#bun-footer { position:absolute; z-index: 10; }

.ingredientsLabel { 
	background-color: #333;
	opacity: 0.7;
	color: #fff;
	width: 100%;
	padding: 2px;
	text-align: center;
	position: relative;
	bottom: 20px;
}

.priceLabel { 
	background-color: #29af63;
	opacity: 0.7;
	color: #fff;
	padding: 2px;
	text-align: center;
	position: relative;
	top: 0px;
	left:0;
}

.ingredient-box-icon {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  border-radius: 2px 0 0 2px;
  display: block;
  float: left;
  font-size: 25px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 45px;
}

.ingredient-box {
  background: #fff none repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 2px;
  min-height: 45px;
  max-height: 45px;
  overflow: hidden;
  width: 100%;
}

.ingredient-box-content {
  margin-left: 45px;
  padding: 5px 10px;
}

.ingredient-box-text {
  margin-left: 3px;
  padding: 5px 10px;
  font-size: 1.5em;
  font-weight: bold;
}


.fc-content { font-size:18px; }


/* ...................................... */



.subcategory {
    
    font-variant: small-caps;
    background-color: #FEC900;
    color: #444;
    text-align: center;

    
}

.category {
    
	    background-color: #107F00;
    color: #fff;
    font-size: 16px;
    font-size: 2vw;
    font-size: 1.5vmax;
    font-weight: normal;
    
}

.burgerlist-table {
    
    background-color: #fff;
    
}

/*
@media (max-width: 600px) {
	.category {
        font-size: 12px;
    }
    
    h2 { font-size: 12px; }
}
*/

.table { margin-bottom: 2px!important; border-bottom: 2px solid #fff;}

.burgerimg { width: 100%; }

.badge-white { background-color: #fff; color:#666; } 

.category { cursor: pointer; }
.add-ingredient { cursor: pointer; color:#107F00; padding:2px 6px; background-color: #107F00; color: #fff;  }
.remove-ingredient { cursor: pointer; color:red; display:none; padding:2px 6px; background-color: #FEC900; color: #fff;  }
.inBadge { padding:2px 6px; background-color: #efefef; color: #666; margin: 0 1px;  font-size: 18px; }

.infoboard { margin: 5px 0px; background-color: #FECA00; padding: 5px;  }

.burgerFeatures{
	margin: 15px 0px 15px 0px;
	border: 4px dashed #efefef;	
	padding: 15px;
}

.ingredient_box { position: relative; height:20px; }


	.myburger {
		background-color: #107F00; color: #fff; font-size: 12px; padding: 2px 4px; margin-right: 3px;
	}


/* ...................................... */

.products-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.products-list > .item {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.products-list > .item::before, .products-list > .item::after {
    content: " ";
    display: table;
}
.products-list > .item::after {
    clear: both;
}
.products-list .product-img {
    float: left;
}
.products-list .product-img img {
/* width: 80px; */
}
.products-list .product-info {
   margin-left: 85px; 
}
.products-list .product-title {
    font-weight: 600;
}
.products-list .product-description {
    color: #999;
    display: block;
/*
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
*/
}
.product-list-in-box > .item {
    border-bottom: 1px solid #f4f4f4;
    border-radius: 0;
    box-shadow: none;
}
.product-list-in-box > .item:last-of-type {
    border-bottom-width: 0;
}
   


.products-list td {
	border-top: none !important;
	border-bottom: none !important;

}

.products-list {
	border-bottom: 1px solid #ddd;
}


.products-list:last-child {
	border-bottom: none;
}


div.cat_6  .ingredient_box, div.cat_3 .ingredient_box{
height:10px !important; 
}

#debug{display: none;}

.burgerConfigBox{
	margin-top: 5px;
	margin-bottom: 5px;
}


.currentPriceWrapper{
	width: 100%;
	height: 100%;
	top:0px;
	position: absolute;

}

.currentPrice{
	font-size: 2vw;
	padding: 10px;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
	background-color: #FECA00;
	color: white;
	
  border-bottom: medium none !important;
    border-radius: 5px;

	
}
.currentPrice span.order{ font-size: 15px; line-height: 15px;}

/*
.help-block {
	padding: 15px;
	margin-bottom: 18px;
	border: 1px solid transparent;
	border-radius: 2px;
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
*/


.box.anschrift .box-body{ 
	
	font-family: Merriweather;
	font-size: 1.2em;}

.fc-day-number {
    font-size: 14px;
}






.product-row .form-control[disabled], .product-row  fieldset[disabled] .form-control , .order-totals .form-control[disabled]{
    background-color: transparent !important;
    border-color: transparent !important;
    }

   