
.voting{
}
.voting .wrapper{
	height:100vh;
	overflow: hidden;
}

.voting .square {
    /* width within the parent.
       can be any percentage. */
    width: 100%;
	height: 100%;
    background-color: #333;
	position: relative;
}

.voting .square .wrap{
	position: absolute;
	height: 100%;
	width: 100%;
}
.voting .square .table{
	     display: table;
		width: 100%;
		height: 100%;
		
}
.voting .square span{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: #fff;
  font-size: 4vw


}
.voting .square:before {
    content: "";
    float: left;

    /* essentially the aspect ratio. 100% means the
       div will remain 100% as tall as it is wide, or
       square in other words.  */
    padding-bottom: 100%;
}
/* this is a clearfix. you can use whatever
   clearfix you usually use, add
   overflow:hidden to the parent element,
   or simply float the parent container. */
.voting .square:after {
    content: "";
    display: table;
    clear: both;
}
.voting .carousel{	height: 100%;
}
.voting .carousel-inner{
	height: 100%;
}



.nopad.col-lg-1, .nopad.col-lg-10, .nopad.col-lg-11, .nopad.col-lg-12, .nopad.col-lg-2, .nopad.col-lg-3, .nopad.col-lg-4, .nopad.col-lg-5, .nopad.col-lg-6, .nopad.col-lg-7, .nopad.col-lg-8, .nopad.col-lg-9, .nopad.col-md-1, .nopad.col-md-10, .nopad.col-md-11, .nopad.col-md-12, .nopad.col-md-2, .nopad.col-md-3, .nopad.col-md-4, .nopad.col-md-5, .nopad.col-md-6, .nopad.col-md-7, .nopad.col-md-8, .nopad.col-md-9, .nopad.col-sm-1, .nopad.col-sm-10, .nopad.col-sm-11, .nopad.col-sm-12, .nopad.col-sm-2, .nopad.col-sm-3, .nopad.col-sm-4, .nopad.col-sm-5, .nopad.col-sm-6, .nopad.col-sm-7, .nopad.col-sm-8, .nopad.col-sm-9, .nopad.col-xs-1, .nopad.col-xs-10, .nopad.col-xs-11, .nopad.col-xs-12, .nopad.col-xs-2, .nopad.col-xs-3, .nopad.col-xs-4, .nopad.col-xs-5, .nopad.col-xs-6, .nopad.col-xs-7, .nopad.col-xs-8, .nopad.col-xs-9{
	padding-left: 0px;
	padding-right: 0px;
}



.voting .textOverlay{
	color: white;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	width: 100%;
	bottom:0px;
	padding: 10px;
	z-index: 100000;
}


	.carousel-indicators {
	    top: 20px !important; 
	}



.voting .vote{
	z-index: 1000;
}


.bootstrap-wrapper .carousel-control{
	z-index: 1000 !important;
}



@media (max-width: 767px){
.voting	.square {
    /* width within the parent.
       can be any percentage. */
    width: 100%;
	height: 100px;
   }
   
.voting   .square:before {
	   padding-bottom: 0px;
   }
}



.bootstrap-wrapper .row{
	font-family: 'Lato', sans-serif;

}


/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.boostrap_wrapper .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
