@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body{
	background-color: #0085d9;
}
.wrapper{
	height:100vh;
	overflow: hidden;
}

.square {
    /* width within the parent.
       can be any percentage. */
    width: 100%;
	height: 100%;
    background-color: #333;
	position: relative;
}

.square .wrap{
	position: absolute;
	height: 100%;
	width: 100%;
}
.square .table{
	     display: table;
		width: 100%;
		height: 100%;
		
}
.square span{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: #fff;
  font-size: 4vw


}
.square:before {
    content: "";
    float: left;

    /* essentially the aspect ratio. 100% means the
       div will remain 100% as tall as it is wide, or
       square in other words.  */
    padding-bottom: 100%;
}
/* this is a clearfix. you can use whatever
   clearfix you usually use, add
   overflow:hidden to the parent element,
   or simply float the parent container. */
.square:after {
    content: "";
    display: table;
    clear: both;
}
.carousel{	height: 100%;
}
.carousel-inner{
	height: 100%;
}



.nopad.col-lg-1, .nopad.col-lg-10, .nopad.col-lg-11, .nopad.col-lg-12, .nopad.col-lg-2, .nopad.col-lg-3, .nopad.col-lg-4, .nopad.col-lg-5, .nopad.col-lg-6, .nopad.col-lg-7, .nopad.col-lg-8, .nopad.col-lg-9, .nopad.col-md-1, .nopad.col-md-10, .nopad.col-md-11, .nopad.col-md-12, .nopad.col-md-2, .nopad.col-md-3, .nopad.col-md-4, .nopad.col-md-5, .nopad.col-md-6, .nopad.col-md-7, .nopad.col-md-8, .nopad.col-md-9, .nopad.col-sm-1, .nopad.col-sm-10, .nopad.col-sm-11, .nopad.col-sm-12, .nopad.col-sm-2, .nopad.col-sm-3, .nopad.col-sm-4, .nopad.col-sm-5, .nopad.col-sm-6, .nopad.col-sm-7, .nopad.col-sm-8, .nopad.col-sm-9, .nopad.col-xs-1, .nopad.col-xs-10, .nopad.col-xs-11, .nopad.col-xs-12, .nopad.col-xs-2, .nopad.col-xs-3, .nopad.col-xs-4, .nopad.col-xs-5, .nopad.col-xs-6, .nopad.col-xs-7, .nopad.col-xs-8, .nopad.col-xs-9{
	padding-left: 0px;
	padding-right: 0px;
}



.textOverlay{
	color: white;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	width: 100%;
	bottom:0px;
	padding: 30px 30px 40px 30px
}


	.carousel-indicators {
	    top: 20px !important; 
	}



.vote{
	z-index: 1000;
}




.carousel-control {
	margin: 10px;
	margin-top: -40px;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    width: 70px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    filter: alpha(opacity=50);
    opacity: .5;
    border-radius: 50px;
    height: 70px;
    background-color: #e00a4b;
    line-height: 70px;
}

.carousel-control.left, .carousel-control.right{
	background-image: none;

    filter: none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	width: 70px;
	height:70px;
	line-height: 70px;
	left:0;
	top:0;
	margin-left:0;
	margin-top:0;
}
footer a{
	color:white;
}
@media (max-width: 767px){
	.square {
    /* width within the parent.
       can be any percentage. */
    width: 100%;
	height: 100px;
   }
   
   .square:before {
	   padding-bottom: 0px;
   }
}